/* パソコン版スマホ版共通CSSです */
/* --------------------------------------- */

/* コンポーネント */
.button {
    background-color: deeppink;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    color: honeydew;
    font-size: 16px;
    padding: 0.5em;
    width: 100px;
}

/* ブロック */
.main-content {
    min-width: 800px;
    margin: auto;
    min-height: 100vh;
    padding: 70px 0;
}

.daily__img {
    width: 600px;
}

.blog__button {
    margin: 0 auto;
}

.button:hover {
    background-color: lightpink;

}